.div1{
    color: teal;
}
.p1{
color: #000;
}
.p2{
color: wheat;
}
.div1 .p1, .span{
color: red;
}
.vhtml .p1{
    color: yellow;
}
.p-{
    color: mediumblue;
}
.div_p-{
    color: indigo;
}
.div_p- .p-p{
    color: orange;
}
.p-p{
    color: magenta;
}
#p-end{
    color:blue;
}

.p.andp{
    color: black;
}

.divi .p.dabp{
    color: cornflowerblue;
}
div{
    color: green;
}
p {
    color:tomato;
}