.H1{
    text-align: center;
    color: blue;
    font-size: 100px;
}

.body{
    text-align: center;
    color: cadetblue;
    font-size: 56px;
}
.citate{
    border: black solid 0.5px;
    padding-left: 15px;
    width: 50%;
}

.img1{
    margin-top: 20px;
}
.comment{
    border-bottom: gray solid 0.5px;
    width: 50%;
}
.comment-text{
    color: gray;

}
.align_right{
    text-align: center;
    size: 50%;
}